{% extends "layout.html" %}
{% block content %}

<h3 class="mb-4">📄 投稿一覧</h3>

<div class="d-flex justify-content-center gap-3 mb-4">
    <a href="{{ url_for('index', category='イベント') }}" 
       class="btn category-btn {% if current_category=='イベント' %}active{% endif %}">
       イベント
    </a>
    <a href="{{ url_for('index', category='災害') }}" 
       class="btn category-btn {% if current_category=='災害' %}active{% endif %}">
       災害
    </a>
    <a href="{{ url_for('index', category='広報') }}" 
       class="btn category-btn {% if current_category=='広報' %}active{% endif %}">
       広報
    </a>
</div>

{% for post in posts %}
<div class="glass-card">
    <h5>{{ post.title }}</h5>

    <div class="d-flex justify-content-between">
        <small>
            {% if post.created_at %}
               {{ post.created_at | to_jst }}

            {% endif %}
        </small>
        <small>❤️ {{ post.likes }}</small>
    </div>

    <p class="mt-3" style="white-space: pre-wrap;">{{ post.content }}</p>


    {% if post.filename %}
        <img src="{{ url_for('uploaded_file', filename=post.filename) }}"
             class="img-fluid rounded mt-2">
    {% endif %}

    <div class="mt-3">
        <a href="{{ url_for('like', post_id=post.id) }}"
           class="btn btn-sm neon-btn">いいね</a>

        {% if session.get('role') == 'admin' %}
            <a href="{{ url_for('edit', post_id=post.id) }}"
               class="btn btn-sm btn-warning">編集</a>

            <a href="{{ url_for('delete', post_id=post.id) }}"
               class="btn btn-sm btn-danger">削除</a>
        {% endif %}
    </div>
</div>
{% else %}
<p>まだ投稿がありません。</p>
{% endfor %}

{% endblock %}


